/* Large screen  */
@media (max-width: 1400px) {
    html {
        font-size: 20px;
    }
}
  
/* Tablet screen  */
@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
    }

/* Mobile screen  */
@media (max-width: 450px) {
    html {
        font-size: 12px;
    }
}

*, *::before, *::after {
    font-family: "Open Sans", sans-serif;
    color: white;
}

:root {
    --red-color: 360, 55%, 51%;
}

body {
    background-color: black;
    margin: 2% 5%;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title .main {
    font-family: "Prata", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
}

.title .sub {
    margin-top: -10px;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}

.group-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px white;
    overflow: hidden;
}

.group .group-name {
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 2%;
}

.two-member-grid {
    display: grid;
    grid-template-columns: 35%;
    grid-column-gap: 10%;
    justify-content: center;
}

.four-member-grid {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-column-gap: 10%;
    justify-content: center;
}

.member .member-img {
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 0 5px 1.5px hsl(var(--red-color), 1);
}

.member:hover .member-img {
    box-shadow: 0 0 5px 3px hsl(var(--red-color), 1);
}

/* Direct children selector */
.member .member-img > img{
    display: block;
    width: 102%;
    max-height: 110px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* Align fitting of image from the center */
    object-position: top center;
    /* For smoother transition */
    transition: 200ms transform ease-in-out;
}

.member:hover > .member-img > img {
  transform: scale(1.08);
}

.member .member-name {
    text-align: center;
    padding: .2em;
}

.highlight-container .highlight {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.highlight-container {
    position: relative;
    display: inline-block;
}

.highlight-container::before {
    position: absolute;
    content: " ";
    display: block;
    height: 50%;
    top: 10%;
    left: -.5em;
    right: -.5em;
    background-color: hsl(0, 0%, 100%, .9);
    border-radius: 45% 10%;
    rotate: 5deg;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    transform-origin: left;
}

.member:hover .highlight-container::before {
    transform: scaleX(1);
}

.member:hover .highlight-container .highlight {
    color: hsl(var(--red-color), 1);
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1%;
}

.button-group .button {
    background-color: black;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.4em 0.6em;
    display: inline-block;
}

/* For adjacent sibling */
.button-group .button + .button {
    margin-left: 6px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: hsl(300, 24%, 80%);
}

a:hover {
    text-decoration: underline;
}

.button-group .button:hover, 
.button-group .button:focus {
    background-color: hsl(0, 0%, 100%, .3);
    box-shadow: 0 0 1px 0.5px white;
}

.button-group .performance {
    font-size: 1rem;
}

.button-group .dummy::after {
    content: "🤍";
}

.button-group .dummy:hover::after, 
.button-group .dummy:focus::after{
    content: "✨";
}
